<div class="w-full h-full flex justify-center items-center">
  <div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
      <h2 class="card-title justify-center">Login</h2>
      <form id="loginForm" method="POST" class="flex flex-col gap-4">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" name="username" placeholder="username" class="input input-bordered w-full" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" name="password" placeholder="password" class="input input-bordered w-full" required />
        </div>
        <div class="flex flex-row justify-end">
          <a href="/register" class="link link-primary">Create an account</a>
        </div>

        <div class="form-control">
          <button type="submit" class="w-full btn btn-primary mt-4">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>