<div class="w-full h-full flex justify-center items-center">
  <div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
      <h2 class="card-title justify-center">Register</h2>
      <form id="registerForm" method="POST" class="flex flex-col gap-4">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Display Name</span>
          </label>
          <input type="text" name="displayName" placeholder="Display Name" class="input input-bordered w-full"
            required />
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Gender</span>
          </label>
          <select name="gender" required class="select input input-bordered w-full">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" name="username" placeholder="username" class="input input-bordered w-full" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" name="password" placeholder="password" class="input input-bordered w-full" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Confirm Password</span>
          </label>
          <input type="password" name="confirmPassword" placeholder="Confirm Password"
            class="input input-bordered w-full" required />
        </div>


        <div class="form-control">
          <button type="submit" class="w-full btn btn-primary mt-4">Register</button>
          <a href="/login" class="w-full btn btn-neutral mt-4">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
